.jumbotron {
	background: #532F8C;
	color: white;
	padding-bottom: 80px;
}

.jumbotron .btn-primary {
	background: #845ac7;
	border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
	background: #7646c1;
}

.jumbotron p {
	color: #d9ccee;
	max-width: 75%;
	margin: 1em auto 2em;
}

.navbar+.jumbotron {
	margin-top: -20px;
}

.jumbotron .lang-logo {
	display: block;
	background: #B01302;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid white;
}

.jumbotron .lang-logo img {
	max-width: 100%;
}

.container.content {
	margin: auto;
    width: 50%;
    border: 3px solid lightgrey;
    padding: 20px;
    text-align: center;
    min-height: 300px;
    box-shadow: 5px 5px 3px lightgrey;
}

table {
	border-collapse: collapse;
	margin-left:auto; 
    margin-right:auto;
}

table.showBorders, table.showBorders th, table.showBorders td {
	border: 1px solid black;
}

th, td {
	padding: 0 10px 0 10px;
}
td {
	padding: 5px;
}
td.free {
	color: green;
}

td.reserved {
	color: red;
}


input.margin {
	margin-left: 10px;
}

.navbar-inverse {
	background-color: #00CED1 !important;
	border-color: #20B2AA !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #F0F0F0;	
}

h1 {
	text-align: center;
}

.nav-tabs>li.active>a
	color: #F0F0F0;	