.jumbotron {
	background: #532F8C;
	color: white;
	padding-bottom: 80px;
}

.jumbotron .btn-primary {
	background: #845ac7;
	border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
	background: #7646c1;
}

.jumbotron p {
	color: #d9ccee;
	max-width: 75%;
	margin: 1em auto 2em;
}

.navbar+.jumbotron {
	margin-top: -20px;
}

.jumbotron .lang-logo {
	display: block;
	background: #B01302;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid white;
}

.jumbotron .lang-logo img {
	max-width: 100%;
}

.container {
	margin-left: 100px;
}

table {
    border-collapse: collapse;
}

table.showBorders, table.showBorders th, table.showBorders td {
    border: 1px solid black;
}

th, td{
	padding: 0 10px 0 10px;
}

td.free{
	color: green;	
}

td.reserved{
	color: red;	
}

input.margin{
	margin-left: 10px;
}