<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
<title>Java Getting Started on Heroku</title>

<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
<link rel="stylesheet" type="text/css"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/"><span
						class="glyphicon glyphicon-home"></span> Start</a></li>
				<li><a href="/add"><span
						class="glyphicon glyphicon-user"></span> Add rooms</a></li>
				<li><a href="/configure"><span
						class="glyphicon glyphicon-user"></span> Configure rooms</a></li>
				<li><a href="/addReserve"><span
						class="glyphicon glyphicon-user"></span> Add Reserve</a></li>			
			</ul>
		</div>
	</nav>
	<div th:replace="${template}" />


</body>