<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'removeRoom')}">

<head>

</head>
<body>
	<h1>Configure rooms</h1>
	  <div class="container">
    	<p th:text="${notification}"/>
  		</div>
	Room:
	<div class="container">
		<select id="roomSelect">
			<option value="">Select Room</option>
			<option th:each="room : ${rooms}"
				th:data-id="${room.id}" th:data-size="${room.size}" th:utext="${room.name}" />
		</select>
	</div>

	<span id ="roomDetails"></span>

</body>
	<script>	

</script>
</html>