<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'addReservations')}">
<body>
	<h1>Show reservations</h1>
	<div class="container content">
		<table class="showBorders">
			<tr>
				<th>Room</th>
				<th>Reserver</th>
			</tr>
			<th:block th:each="room : ${rooms}">
				<tr>
					<td th:text="${room.name}"></td>
					<td th:classappend="${room.reserverName} ? reserved : free"
						th:text="${room.reserverName} ? ${room.reserverName} : 'Free'"></td>
				</tr>
			</th:block>
		</table>

	</div>

</body>
<script>
	
</script>
</html>